<h1>Productos <small>en el carrito</small></h1>
<hr>


<div class="card-columns">



    <div class="card animated fadeIn fast" *ngFor="let item of productos; index as i">

    <img class="card-img-top img-fluid" [src]="urlBack + '/' + item.thumbail" [alt]="item.name">
    <div class="card-body">
      <h4 class="card-title">{{ item.title }}</h4>
      <p class="card-text"> {{ item.description }} </p>
      <p class="card-text"><small class="text-muted">{{ item.stock }}</small></p>


      <button (click)="eliminarProducto(item)"
        type="button" class="btn btn-outline-primary btn-block">
        Eliminar
      </button>

    </div>

  </div>

</div>
