<div class="card-deck animated fadeIn fast" style="width: 40rem;">

  <img class="card-img-top img-fluid shadow-2-strong" [src]="urlBack + '/' + producto.thumbail" [alt]="producto.name">
  <div class="card-body">
    <h4 class="card-title">{{ producto.title }}</h4>
    <p class="card-text"> {{ producto.description }} </p>
    <p class="card-text"><small class="text-muted">Stock:{{ producto.stock }}</small></p>
    <p class="card-text"><small class="text-muted">Codigo:{{ producto.code }}</small></p>

    <button (click)="verProducto()"
      type="button" class="btn btn-outline-primary btn-block">
      Ver más...
    </button>

    <button *ngIf="getRole()" (click)="eliminarProducto()"
      type="button" class="btn btn-outline-primary btn-block">
      Eliminar
    </button>
    <button *ngIf="getRole()" (click)="editarProducto()"
      type="button" class="btn btn-outline-primary btn-block">
      Editar
    </button>

    <button (click)="agregarCarrito()"
      type="button" class="btn btn-outline-primary btn-block">
      agregar al carrito
    </button>

  </div>





</div>
