<h1>Productos <small>testing</small></h1>
<hr>

<div *ngIf="getRole()">
  <button (click)="crearProducto()"
      type="button" class="btn btn-outline-primary btn-block">
      Agregar producto
  </button>
</div>

<div class="card-columns">

  <app-producto-tarjeta (productoSeleccionado)="verProducto( $event )" [producto]="foo" [index]="foo.id"  *ngFor="let foo of productos; let i = index"></app-producto-tarjeta>


</div>

<div class="card-columns">
<app-mensajes-usuarios></app-mensajes-usuarios>
</div>
