<h4>Producto <small> crear </small></h4>
<hr>
<form autocomplete="off" [formGroup]="formProducto" (ngSubmit)="save()" enctype="multipart/form-data">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Titulo</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Titulo"
               formControlName="title">
              <span class="validation-error" *ngIf="(formSubmitted || formProducto.controls.title.touched) && formProducto.controls.title.errors?.required">el title is required</span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="name">
        <span class="validation-error" *ngIf="(formSubmitted || formProducto.controls.name.touched) && formProducto.controls.name.errors?.required">el nombre is required</span>
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Stock</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Stock"
               formControlName="stock">
        <span class="validation-error" *ngIf="(formSubmitted || formProducto.controls.stock.touched) && formProducto.controls.stock.errors?.required">el stock is required</span>

      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Code</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Code"
               formControlName="code">
              <span class="validation-error" *ngIf="(formSubmitted || formProducto.controls.code.touched) && formProducto.controls.code.errors?.required">el codigo is required</span>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Precio</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Price"
               formControlName="price">
        <span class="validation-error" *ngIf="(formSubmitted || formProducto.controls.price.touched) && formProducto.controls.price.errors?.required">el precio is required</span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Descripción</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Description"
               formControlName="description">

       <span class="validation-error" *ngIf="(formSubmitted || formProducto.controls.description.touched) && formProducto.controls.description.errors?.required">Descripción is required</span>

      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Imagen</label>
      <div class="col">

        <input class="form-control"
               type="file"
               id="thumbail"
               placeholder="Imagen"
               name="thumbail"
               formControlName="thumbail"
               (change)="onFileChange($event)"
               >

         <span class="validation-error" *ngIf="(formSubmitted || formProducto.controls.thumbail.touched) && formProducto.controls.thumbail.errors?.required">Image is required</span>

         
      </div>
    </div>


  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
